<mat-card>
  <mat-card-content>
    <form #registerForm="ngForm" (ngSubmit)="onSubmit()">
      <h2>Registrieren</h2>
      <mat-error *ngIf="registerFailed">
        Registrierung fehlgeschlagen!
      </mat-error>
      <mat-form-field>
        <input matInput placeholder="Benutzername" [(ngModel)]="username" username name="username"
          #usernameInput="ngModel" required>
        <mat-error>{{getErrors(usernameInput)}}</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Email" [(ngModel)]="email" email name="email" #emailInput="ngModel" type="email"
          required>
        <mat-error>{{getErrors(emailInput)}}</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="password" placeholder="Passwort" [(ngModel)]="password" password name="password"
          #passwordInput="ngModel" required minlength="10">
        <mat-error>{{getErrors(passwordInput)}}</mat-error>
      </mat-form-field>
      <button mat-raised-button color="primary" [disabled]="!registerForm.form.valid">Registrieren</button>
    </form>
  </mat-card-content>
</mat-card>
