<div class="max-w-2xl mt-24 p-4 mx-auto">
    <form #form="ngForm" class="flex flex-col gap-4">
        <h1>Rezept erstellen</h1>
        <mat-form-field>
            <mat-label>Name</mat-label>
            <input matInput name="name" placeholder="Ex. Pizza" [(ngModel)]="recipe.name" #name="ngModel" required
                minlength="4" pattern="[a-zA-Z ]*">
            <mat-error>{{getErrors(name)}}</mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Beschreibung</mat-label>
            <textarea matInput name="description" [(ngModel)]="recipe.description"
                placeholder="Beschreibung des Rezepts..." rows="7" required minlength="10"
                #description="ngModel"></textarea>
            <mat-error>{{getErrors(description)}}</mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>YouTube-URL</mat-label>
            <input matInput name="link" [(ngModel)]="recipe.link" required minlength="5" #link="ngModel">
            <mat-error>{{getErrors(link)}}</mat-error>
        </mat-form-field>

        <app-ingredients-form [(ingredients)]="recipe.ingredients"></app-ingredients-form>

        <button mat-raised-button color="primary" [disabled]="form.invalid || ingredientsFormComponent?.invalid"
            (click)="save()">Speichern</button>
    </form>
</div>