<div class="max-w-2xl mt-24 p-4 mx-auto">
    <form #form="ngForm" class="flex flex-col gap-4">
        <h1>Rezept erstellen</h1>
        <mat-form-field>
            <mat-label>Name</mat-label>
            <input matInput name="name" placeholder="Ex. Pizza" [(ngModel)]="recipe.name" #name="ngModel" required
                minlength="4" pattern="[a-zA-Z ]*">
            <mat-error>{{getErrors(name)}}</mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Beschreibung</mat-label>
            <textarea matInput name="description" [(ngModel)]="recipe.description"
                placeholder="Beschreibung des Rezepts..." rows="7" required minlength="10"
                #description="ngModel"></textarea>
            <mat-error>{{getErrors(description)}}</mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>YouTube-URL</mat-label>
            <input matInput name="link" [(ngModel)]="recipe.link" required minlength="5" #link="ngModel">
            <mat-error>{{getErrors(link)}}</mat-error>
        </mat-form-field>

        <div class="flex flex-wrap gap-2 items-center">
            <div *ngFor="let item of recipe.ingredients; let i = index; trackBy:track">
                <mat-form-field appearance="fill">
                    <input matInput name="ingredient_{{i}}" placeholder="Zutat Name..." required minlength="3"
                        [(ngModel)]="recipe.ingredients[i]" #ingredient="ngModel">
                    <mat-error>{{getErrors(ingredient)}}</mat-error>
                </mat-form-field>
                <mat-icon class="cursor-pointer" (click)="deleteIngredient(i)">
                    delete_forever</mat-icon>
            </div>
            <button mat-mini-fab (click)="addIngredient($event)">
                <mat-icon class="add-course-btn">add</mat-icon>
            </button>
        </div>

        <button mat-raised-button color="primary" [disabled]="form.invalid" (click)="save()">Speichern</button>
    </form>
</div>