<mat-card>
  <mat-card-content>
    <form #loginForm="ngForm" (ngSubmit)="onSubmit()">
      <h2>Login</h2>
      <mat-error *ngIf="!loginValid">
        Login fehlgeschlagen!
      </mat-error>
      <mat-form-field>
        <input matInput placeholder="Benutzername" [(ngModel)]="username" username name="username"
          #usernameInput="ngModel" required>
        <mat-error>{{getErrors(usernameInput)}}</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="password" placeholder="Passwort" [(ngModel)]="password" password name="password"
          #passwordInput="ngModel" required>
        <mat-error>{{getErrors(passwordInput)}}</mat-error>
      </mat-form-field>
      <button mat-raised-button color="primary" [disabled]="!loginForm.form.valid">Login</button>
    </form>
  </mat-card-content>
</mat-card>
